.message-item {
  display: flex;
  align-items: center;
  width: 100%;

  .message-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .message-buttons {
      display: none;
    }
  }


  &:hover .message-buttons {
    display: block;
  };
}
