.message-input-container {
  height: 68px;
  flex-shrink: 0;
  padding: 0px 16px;
  background: transparent;
}

.message-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  svg {
    top: 22px;
    left: 28px;
    transform: translate(-50%, -50%);
    color: $off-grey;
    position: absolute;
  }

  input {
    border-radius: 8px;
    width: 100%;
    background: $input-grey;
    border: none;
    outline: 0;
    height: 44px;
    font-size: 16px;
    color: $off-white;
    padding-left: 56px;
    font-family: 'whitney', sans-erif;
  }
}

.message-form.edit {
  flex-direction: column;
  padding-top: 8px;

  input {
    padding-left: 16px;
  }

  div {
    font-size: 12px;
    line-height: 14px;
    padding: 7px 0px;
  }

  span {
    color: $link-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
