.message-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 0px;
  position: relative;

  .message-buttons {
    display: none;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    background-color: $lighter-black;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s ease-in-out;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $diff-black;
    border-radius: 5px;
    overflow: hidden;
    color: $off-grey;

    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }

    > div {
      padding: 8px;
    }

    > div:hover {
      filter: brightness(1.1);
      background: $lighter-black;
    }
  }

  &:hover {
    background: rgba(4,4,5,0.07);
  }

  &:hover .message-buttons {
    display: flex;
  };
}

.first-message {
  margin-top: 17px;
}


.message-body {
  display: flex;
  color: $off-white;
  width: 100%;
  margin-right: 48px;

  > div:first-child {
    min-width: 40px;
    margin: 2px 16px 0px 16px;
    display: flex;
    align-items: flex-start;
  }
}

.message-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div {
    line-height: 22px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .sender-username {
    color: $white;
    font-weight: 600;
  }
}
