.modals-enter {
  opacity: 0;

  .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.modals-enter-active {
  opacity: 1;
  transition: opacity 300ms;

  .modal {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms;
  }
}
.modals-exit {
  opacity: 1;
}
.modals-exit-active {
  opacity: 0;
  transition: opacity 300ms;

  .modal {
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 300ms;
  }
}
