.server-nav-column > div:first-child{
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $diff-black;
}

.server-header {
  width: 100%;
  position: relative;
}

.server-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  cursor: pointer;
  color: $off-white;

  border-bottom: 1px solid $another-black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

  background: $diff-black;
  padding: 0px 19px;

  .server-name {
    font-family: 'ginto-normal', sans-serif;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 48px;
    width: 90%;
    color: $white;
  }

}
