.server-index {
  background: $another-black;
  width: 72px;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: 500;
  color: $off-white;
  padding-top: 12px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > div {
    margin-bottom: 8px;
  }

  .server-index-item.active-server > a > div {
    border-radius: 35%;
    background: $blurple;
    color: $white;
  }

  .separator {
    min-height: 2px;
    width: 32px;
    background: $diff-black;
    border-radius: 1px;
  }

  .home-icon {
    display: flex;
    align-items: center;

    img {
      width: 25px;
      height: 19px;

      filter: brightness(0.9);
    }

    &.active-home > div {
      border-radius: 35%;
      background: $blurple;
    }
  }

  .new-server-icon {
    cursor: pointer;
    color: $icon-green;

    div {
      filter: brightness(0.6);
    }
  }
}
