.server-index {
  background: $another-black;
  width: 72px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: 500;
  color: $off-white;
  padding-top: 12px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > div {
    margin-bottom: 8px;
  }

  .separator {
    min-height: 2px;
    width: 32px;
    background: $diff-black;
    border-radius: 1px;
  }

  .home-icon {

    img {
      width: 26px;
      height: 20px;

      filter: brightness(0.9);
    }
  }

  .new-server-icon {
    cursor: pointer;
    color: $icon-green;

    div {
      filter: brightness(0.6);
    }
  }
}
