.server-nav-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
}

.server-index {
  background: $another-black;
  width: 72px;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-weight: 500;
  color: $off-white;
  padding-top: 12px;

  overflow: visible, scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > div {
    margin-bottom: 8px;
  }

  .server-index-item.active-server > a > div {
    border-radius: 35%;
    background: $blurple;
    color: $white;
  }

  .separator {
    min-height: 2px;
    width: 32px;
    background: $diff-black;
  }

  .home-icon {
    display: flex;
    align-items: center;

    img {
      width: 25px;
      height: 19px;

      filter: brightness(0.9);
    }

    &.active-home > div {
      border-radius: 35%;
      background: $blurple;
    }
  }

  .new-server-icon {
    cursor: pointer;
    color: $icon-green;
    position: relative;

    &:hover {
      background: $icon-green;
      color: $white;
    }

  }
}

.server-index-item {
  position: relative;
  &:hover .server-name-popup, &:hover .server-hover-triangle {
    display: block;
  }
}

.server-name-popup {
  z-index: 5;
  position: absolute;
  display: none;
  left: 68px;
  top: 8px;
  background: $dark-black;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 4px;
  width: fit-content;
  color: $off-white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  width: max-content;
}

.server-hover-triangle {
  z-index: 5;
  position: absolute;
  display: none;
  left: 62px;
  top: 16px;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent $dark-black transparent transparent;
  border-width: 8px 8px 8px 0px;
}
