.cc-index-container {
  background: $diff-black;
  width: 100%;
  height: calc(100vh - 48px - 52px);

  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: rgba(0,0,0,0);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $another-black;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-clip: padding-box;
  }

  .cc-index {
    font-weight: 600;
    width: 100%;

    .cc-index-item {
      line-height: 30px;
      margin: 2px 0px 2px 8px;
      padding: 0px 8px 0px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;

      &:hover {
        background: $background-hover;

        .channel-button > div:last-child {
          color: $off-white;
        }
      }

      &.active-channel  {
        background: $background-active;

        .channel-button > div:last-child {
          color: $white;
        }

        .channel-settings-button {
          display: flex;
        }
      }

      &:hover .channel-settings-button {
        display: flex;
      }

      .channel-button {
        width: 90%;
        display: flex;
        align-items: center;

        color: $channels-grey;

        div:first-child {
          display: flex;
          align-items: center;
          color: $kinda-grey;
        }

        div:last-child {
          margin-left: 5px;
          margin-bottom: 1px;
          width: 90%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .channel-settings-button {
        width: 10%;
        display: none;
        align-items: center;
        justify-content: center;
        color: $channels-grey;
        cursor: pointer;

        &:hover {
          color: $off-white;
        }
      }

    }
  }
}

.cc-index-header-container {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: 'ginto-normal', sans-serif;
  font-weight: 600;
  color: $channels-grey;
  line-height: 24px;
  cursor: default;
  padding: 16px 8px 0px 5px;

  span {
    padding-left: 5px;
  }

  .new-cc-button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $off-white;
    }
  }
}

.cc-index-header{
  flex: 1;
  display: flex;
  align-items: center;
}
