.friends-label {
  display: flex;
  align-items: center;

  .cc-hash {
    img {
      width: 24px;
      height: 24px;
    }

  }
  color: $white;
  font-size: 16px;
  font-family: 'ginto-normal', sans-serif;
  font-weight: 600;
}

.friend-nav-button {
  padding: 2px 8px;
  line-height: 20px;
  color: $off-grey;
  border-radius: 4px;
  font-weight: 600;
  margin-right: 16px;
  cursor: pointer;

  &.active, &.active:hover {
    color: $white;
    background: $background-active;
  }

  &:hover {
    color: $off-white;
    background: $background-hover;
  }
}

.friend-index-container {
  height: calc(100% - 48px);
  padding-right: 3px;
  display: flex;
  flex-direction: column;
}

.friend-index {
  overflow-y: overlay;

  &::-webkit-scrollbar {
    background: rgba(0,0,0,0.1);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $another-black;
    border-radius: 10px;
  }
}

.all-friends {
  margin: 24px 20px 8px 30px;
  font-family: 'ginto-normal', sans-serif;
  color: $off-grey;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.25px;
  cursor: default;
}

.friend-index-item-wrapper {
  margin: 0px 50px 0px 20px;
  padding: 0px 10px;
  &:hover {
    background: $background-hover;
    border-radius: 8px;

    .friend-index-item {
      border-color: transparent;
    }

    + .friend-index-item-wrapper .friend-index-item{
      border-color: transparent;
    }
  }
}

.friend-index-item {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;

  &:hover .friend-info .friend-tag > span {
    visibility: visible;
  }

  &:hover .button {
    background: $not-black;
  }
}

.friend-info {
  display: flex;
  align-items: center;

  .friend-tag {
    margin-left: 12px;
    font-weight: 600;

    span {
      visibility: hidden;
      font-size: 14px;
      color: $off-grey;
    }
  }

  .subtext {
    font-size: 12px;
    color: $off-grey;
    margin-left: 12px;
    margin-top: 4px;
    font-weight: 600;
  }
}

.friend-buttons > .button:active {
  background: $background-active;
}

.friend-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 82px;
  color: $off-grey;

  .button {
    cursor: pointer;
    background: $diff-black;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:last-child {
      margin-left: 10px;
    }

    &:hover {
      .hover-label, .hover-triangle {
        display: block;
      }
      svg {
        filter: brightness(1.3);
      }
    }
  }

  .hover-label {
    display: none;
    position: absolute;
    top: -40px;
    background: $not-black;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    width: fit-content;
    color: $off-grey;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .hover-triangle {
    display: none;
    position: absolute;
    top: -12px;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: $not-black transparent transparent transparent;
    border-width: 10px 10px 0 10px;
  }

  .grey-button:hover {
    color: $off-white;
  }

  .green-button:hover {
    color: $icon-green;
  }

  .red-button:hover {
    color: $error-red;
  }
}

.dummy-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  cursor: default;
  color: $off-white;

  border-bottom: 1px solid $another-black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

  background: $diff-black;
  padding: 0px 10px;
}

.dummy-search {
  height: 28px;
  width: 220px;
  border-radius: 4px;
  font-size: 14px;
  color: $kinda-grey;
  background: $another-black;
  padding: 0px 6px;
  display: flex;
  align-items: center;
}

.friends-link {
  display: flex;
  align-items: center;
  width: 224px;
  height: 44px;
  padding: 0px 8px;
  margin: 8px 8px 0px 8px;
  color: $off-grey;
  border-radius: 4px;

  &:hover {
    background: $background-hover;
    color: $off-white;

    img {
      filter: brightness(1.6);
    }
  }

  &.active {
    color: $white;
    background: $background-active;
    img {
      filter: brightness(1.8);
    }
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-left: 4px;
  }

  font-weight: 600;
}
