html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: $lighter-black;
  color: $white;
  font-family: 'whitney', sans-serif;
}

a {
	text-decoration: none;
  color: $white;
}

#root {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
}

.main-view {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
