@font-face {
  font-family: 'whitney';
  src: font-url('whitney.ttf') format('truetype');
};

@font-face {
  font-family: 'ginto-normal';
  src: font-url('ginto-normal.ttf') format('truetype');
};

@font-face {
  font-family: 'ginto-nord-black';
  src: font-url('ginto-nord-black.ttf') format('truetype');
};
