.pfp-container {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lighter-black;
  border-radius: 50%;
  overflow: hidden;
}

.pfp {
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.default-pfp {
  background: $blurple;

  .pfp {
    width: 19px;
    height: 14px;
  }
}

.message-pfp {
  .pfp-container {
    height: 40px;
    width: 40px;

    .pfp {
      height: 40px;
      width: 40px;
      object-fit: cover;
    }
  }

  .default-pfp {
    background: $blurple;

    .pfp {
      width: 24px;
      height: 18px;
    }
  }
}

.server-icon-container {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lighter-black;
  border-radius: 50%;
  overflow: hidden;
  transition: border-radius 0.2s ease, background 0.2s ease;
  color: $off-white;

  &:hover {
    border-radius: 35%;
    background: $blurple;
    color: $white;
  }
}

.server-icon {
  height: 48px;
  width: 48px;
  object-fit: cover;
}
