.pfp-container {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lighter-black;
  border-radius: 50%;
  overflow: hidden;
}

.pfp {
  height: 32px;
  width: 32px;
  object-fit: cover;
}

.default-pfp {
  background: $blurple;

  .pfp {
    width: 20px;
    height: 14px;
  }
}

.message-pfp {
  .pfp-container {
    height: 40px;
    width: 40px;

    .pfp {
      height: 40px;
      width: 40px;
    }
  }

  .default-pfp {
    background: $blurple;

    .pfp {
      width: 23px;
      height: 17px;
    }
  }
}

.server-icon-container {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lighter-black;
  border-radius: 50%;
  overflow: hidden;
}

.server-icon {
  height: 48px;
  width: 48px;
  object-fit: cover;
}
