$dark-black: #18191C;
$another-black: #202225;
$not-black: #23272a;
$yet-another-black: #292b2f;
$black-text: #2e3338;
$diff-black: #2f3136;
$lighter-black: #36393F;
$input-grey: #40444b;
$light-grey: #4F5660;
$hover-grey: #5d6269;

$background-hover: rgba(79, 84, 92, 0.16);
$background-active: rgba(79, 84, 92, 0.32);

$channels-grey: #8E9297;
$kinda-grey: #72767D;
$off-grey: #B9BBBE;

$off-white: #DCDDDE;
$white: #ffffff;

$blurple: #5865f2;
$darker-blurple: #404EED;
$link-blue: #00b0f4;
$contrast-blue: #0068E0;

$error-red: #ED4245;

$warning-yellow: rgb(250, 168, 26);

$icon-green: #3BA55D;
