$not-black: rgb(35,39,42);
$lighter-black: rgb(54, 57, 63);

$kinda-grey: rgb(114, 118, 125);
$off-grey: rgb(185, 187, 190);

$off-white: rgb(220, 221, 222);
$white: rgb(255,255,255);

$blurple: rgb(88,101,242);
$darker-blurple: rgb(64, 78, 237);
$link-blue: rgb(0, 175, 244);

@font-face {
  font-family: 'whitney';
  src: font-url('whitney.ttf') format('truetype');
};

@font-face {
  font-family: 'ginto-normal';
  src: font-url('ginto-normal.ttf') format('truetype');
};

@font-face {
  font-family: 'ginto-nord';
  src: font-url('ginto-nord.ttf') format('truetype');
};
