$dark-black: #18191C;
$another-black: #202225;
$not-black: #23272a;
$yet-another-black: #292b2f;
$diff-black: #2f3136;
$lighter-black: #36393F;
$input-grey: #40444b;
$hover-grey: #5d6269;

$channels-grey: #8E9297;
$kinda-grey: #72767D;
$off-grey: #B9BBBE;

$off-white: #DCDDDE;
$white: #ffffff;

$blurple: #5865f2;
$darker-blurple: #404EED;
$link-blue: #00b0f4;

$error-red: #F14846;

$icon-green: #57F287;
