.icon-group {
  margin-bottom: 20px;
  margin-left: 10px;

  display: flex;
  align-items: center;

  .icon-left {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .icon-right {
    margin-left: 24px;

    .upload-button {
      border: 1px solid white;
      font-size: 14px;
      line-height: 32px;
      padding: 2px 16px;
      border-radius: 3px;
      cursor: pointer;

      &:active {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .icon-input-wrapper {
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    background-color: $blurple;
    margin: 0px 10px;

    &:after {
      background: rgba(0,0,0,0.4);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: 'CHANGE ICON';
      pointer-events: none;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      font-weight: 700;
      color: $white;
    }

    &:hover:after {
      opacity: 1;
    }

    &:hover .input-cover {
      color: transparent;
    }

    .icon-input {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      height: 100%;
      font-size: 0px;
    }

    .input-cover {
      position: absolute;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      &:hover {
        color: transparent;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      &.default > img {
        width: 60px;
        height: 45px;
      }
    }
  }

  .remove-icon {
    bottom: -24px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: $off-grey;
  }
}
