.main {
  height: 100%;
  display: flex;
}

.main-view {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.server-nav-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
}
