.member-index-container {
  width: 240px;
  flex-shrink: 0;
  color: $channels-grey;
  background: $diff-black;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: rgba(0,0,0,0);
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $another-black;
    height: 5px;
    border-radius: 4px;
  }
}

.members-index-header {
  font-family: 'ginto-normal', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 24px 8px 0px 16px;
}

.member-index-item {
  display: flex;
  align-items: center;
  height: 44px;
  cursor: default;

  padding: 0px 8px;
  margin-left: 8px;

  .pfp-container {
    margin-right: 12px;
  }
}
