.member-index {
  width: 240px;
  color: $channels-grey;
  background: $diff-black;
}

.members-index-header {
  font-family: 'ginto-normal', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 24px 8px 0px 16px;
}
