.pfp {
  height: 30px;
}

.server-icon-container {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $lighter-black;
  border-radius: 50%;
  overflow: hidden;
}

.server-icon {
  height: 48px;
  width: 48px;
}
