.outer-container {
  background: $blurple;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);

  width: 416px;
  background: $lighter-black;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);

  h1, h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
    font-family: 'ginto-normal', sans-serif;
    font-weight: 600;
  }

  h3 {
    text-align: center;
    margin-bottom: 0px;
  }

  h2 {
    line-height: 20px;
    color: $off-grey;
  }
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  margin-top: 20px;

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      display: flex;
      color: $off-grey;
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;

      span {
        font-family: 'ginto-normal', sans-serif;
        font-style: italic;
        font-weight: 300;
        padding-left: 3px;
      }
    }

    input {
      height: 20px;
      padding: 10px;
      border: none;
      background: rgba(0,0,0,0.1);
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 3px;
      color: $off-grey;
      font-size: 14px;
      outline: none;
      transition: border-color 0.2s ease-in-out;

      &:focus {
        border-color: $link-blue;
      }
    }
  }

  .show-errors {
    label  {
      color: $error-red;
    }

    input {
      border: 1px $error-red solid;

      &:focus {
        border-color: $error-red;
      }
    }
  }

  .password-container {
    margin-bottom: 0px;
  }

  .dob-container {
    margin-top: 20px;
  }

  .demo-button {
    cursor: pointer;
    color: $link-blue;
    font-size: 14px;
    line-height: 16px;

    margin: 6px 0px 22px 0px;

    &:hover {
      text-decoration: underline;
    }
  }

  .redirect-div{
    color: $kinda-grey;
    font-size: 14px;
    line-height: 18px;
    margin-top: 4px;
  }

  .redirect-link {
    cursor: pointer;
    color: $link-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: $kinda-grey;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
  }

  .session-form-submit {
    color: $white;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    background: $blurple;
    position: relative;

    &:after {
      background: rgba(0,0,0,0.2);
      opacity: 0;
      transition: opacity 0.2s ease;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
    }

    &:hover:after {
      opacity: 1;
    }

    div.submit-button {
      position: relative;
      line-height: 40px;
      padding: 2px;
      z-index: 1;
    }
  }
}

.dob-dds {
  display: flex;
  justify-content: space-between;
}

.dd-button {
  position: relative;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  color: $kinda-grey;

  height: 40px;
}

.dd-month {
  flex-grow: 2;
  margin-right: 10px;
}

.dd-day {
  flex-grow: 1;
  margin: 0px 10px;
}

.dd-year {
  flex-grow: 1.5;
  margin-left: 10px;
}

.dd {
  position: absolute;
  top: -225px;
  height: 225px;
  overflow-y: scroll;
}
