.settings-container {
  display: flex;

  .settings-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    background: $not-black;

    display: flex;
    justify-content: flex-end;
  }

  .settings-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    background: $not-black;

    .settings-pane {
      width: 59%;

      ul > li {
        display: flex;

        > div {
          display: flex;
          flex-direction: column;
        }
      }
    }

  }

  .close-settings {
    position: fixed;
    top: 60px;
    right: 25%;
  }
}

.save-prompt {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
