.dob-dds {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.dd-button {
  position: relative;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  color: $off-white;

  height: 40px;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.unselected {
  color: $kinda-grey;
}

.dd-month {
  width: 154px;
  margin-right: 10px;
}

.dd-day {
  width: 100px;
  margin: 0px 10px;
}

.dd-year {
  width: 120px;
  margin-left: 10px;
}

.dd {
  position: absolute;
  top: -225px;
  left: -1px;
  height: 225px;
  overflow: hidden scroll;
  width: 102%;

  background: $lighter-black;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);

  &::-webkit-scrollbar {
    background: rgba(0,0,0,0.1);
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: $another-black;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-clip: padding-box;
  }
}

.dd-item {
  background: rgba(0,0,0,0.1);
  padding: 12px;
  color: $off-white;
  font-size: 18px;

  &:hover {
    background: rgba(0,0,0,0.25);
  }
}
