html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
}

.main-view {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .cc-index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
