.pfp {
  height: 30px;
}

.server-icon {
  height: 40px;
}

.default-server-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blurple;
  border-radius: 25px;
}
