.settings-container {
  display: flex;

  .settings-left {
    position: fixed;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    background: white;

    display: flex;
    justify-content: flex-end;
  }

  .settings-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    background: white;

    .settings-pane {
      width: 59%;
    }

    .close-settings {
      position: fixed;
      top: 60px;
      right: 25%;
    }
  }
}
