.member-index-container {
  width: 240px;
  flex-shrink: 0;
  color: $channels-grey;
  background: $diff-black;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: rgba(0,0,0,0);
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $another-black;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-clip: padding-box;
  }
}

.members-index-header {
  font-family: 'ginto-normal', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 24px 8px 0px 16px;
  cursor: default;
}

.member-index-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;

  padding: 0px 8px;
  margin: 2px 0px 2px 8px;

  border-radius: 4px;

  .pfp-container {
    margin-right: 12px;
  }

  &:hover {
    background: $lighter-black;
  }

  .username {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
  }
}
